@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
@*<link href="~/lib/jsplumb/jsplumbtoolkit-defaults.css" rel="stylesheet" />
    <link href="~/lib/jsplumb/main.css" rel="stylesheet" />*@
<link href="~/lib/jsplumb/jsplumbtoolkit-demo.css" rel="stylesheet" />
<link href="~/css/demo.css" rel="stylesheet" />


<div data-demo-id="statemachine">
    <div style="position: absolute;margin-top: -30px;">
        <input type="button" value="获取json数据" id="btnGetJson">
    </div>
    <div class="jtk-demo-main">
        <!-- demo -->
        <div class="jtk-demo-canvas canvas-wide statemachine-demo jtk-surface jtk-surface-nopan" id="canvas">
            @*<div class="w" id="opened">
                BEGIN
                <div class="ep" action="begin"></div>
            </div>
            <div class="w" id="phone1">
                PHONE INTERVIEW 1
                <div class="ep" action="phone1"></div>
            </div>
            <div class="w" id="phone2">
                PHONE INTERVIEW 2
                <div class="ep" action="phone2"></div>
            </div>
            <div class="w" id="inperson">
                IN PERSON
                <div class="ep" action="inperson"></div>
            </div>
            <div class="w" id="rejected">
                REJECTED
                <div class="ep" action="rejected"></div>
            </div>*@
        </div>
        <!-- /demo -->
    </div>
</div>
<script src="~/lib/jsplumb/jsplumb.js"></script>
<script src="~/js/demo.js"></script>

