.demo {
    /* for IE10+ touch devices */
    touch-action: none;
}

.w {
    padding: 16px;
    position: absolute;
    z-index: 4;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.8;
    cursor: move;
    background-color: white;
    font-size: 11px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

    .w .taskTitle {
        margin-right: 5px;
    }

    .w:hover {
        background-color: #5c96bc;
        color: white;
    }

.aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

    .aLabel.jtk-hover, .jtk-source-hover, .jtk-target-hover {
        background-color: #1e8151;
        color: white;
    }

.aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
}

.ep {
    position: absolute;
    bottom: 37%;
    right: 5px;
    width: 1em;
    height: 1em;
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

    .ep:hover {
        box-shadow: 0 0 6px black;
    }

.statemachine-demo .jtk-endpoint {
    z-index: 3;
}


.dragHover {
    border: 2px solid orange;
}

path, .jtk-endpoint {
    cursor: pointer;
}

.wtype1 {
    background-color: #76c679;
    color: #fff;
}

.wtype2 {
    background-color: #e55052;
    color: #fff;
}

.wtype3 {
    background-color: #efa112;
    color: #fff;
}

.wtype4 {
    background-color: #e5c385;
    color: #fff;
}

.wtype5 {
    background-color: #8d1010;
    color: #fff;
}

.wtype6 {
    background-color: yellow;
    color: black;
}

.wtype7 {
    background-color: #1e8151;
    color: #fff;
}


.flowlist {
    position: absolute;
    margin-left: -200px;
    width: 200px;
    background-color: gainsboro;
}

    .flowlist ol input[type=button] {
        border: 0;
    }

    .flowlist li {
        margin-top: 5px;
    }

    .flowlist .select {
        background-color: red;
    }

        .flowlist .select input[type=button] {
            background-color: red;
        }
